<div class="canvas">
    <div class="toolbar">
        <button type="button" (click)="svgEditor.move($event)">move</button>
        <button type="button" (click)="svgEditor.add()">add text</button>
        <button type="button" (click)="openDialog()">open dialog</button>
        <button type="button">fill <input type="color" value="#000" (change)="svgEditor.colorChanged($event)"></button>
        <button type="button">border <input type="color" value="#000" (change)="svgEditor.borderColorChanged($event)"></button>
        <button type="button">
            font
            <select (change)="svgEditor.fontSizeChanged($event)">
                <option value="16">16px</option>
                <option value="18">18px</option>
                <option value="20">20px</option>
                <option value="24">24px</option>
                <option value="26">26px</option>
                <option value="28">28px</option>
            </select>
        </button>
        <button type="button"><input type="file" id="fileInput" accept=".svg" fileInput></button>
    </div>
    <div class="svg-container"></div>
</div>
<div class="dialog d-none">
    <div class="content">
        <button class="close" type="button" (click)="openDialog()">X</button>
        <svg width="500" height="300" id="chart"></svg>
    </div>
</div>